<%# police du titre %>
<link href="https://fonts.googleapis.com/css?family=Alegreya:700i" rel="stylesheet">

<%# police pour les icones %>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<%# css perso %>
<link rel="stylesheet" href="/styles/style01.css">
<link rel="stylesheet" href="/styles/table.css">

<%# jQuery & jQueryUI %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<%# script perso général %>
<script src="/js/general.js"></script>

<%# -- debut de la page -- %>

<h1>
    <a href="/" title="home">
    Budgest
    </a>
</h1>