<link rel="stylesheet" href="/styles/style01.css">
<script src="/js/general.js"></script>

<h1><a href="/" title="home">Budge$t</a></h1>

<div id="userContainer">
    <% for (let i=0; i<userlist.length; i++) { %>
        <span class="namelist" hidden><%= userlist[i].nom %></span>
    <% if (i<8) { %>
        <a href="/login?name=<%=userlist[i].nom%>&err=0">
            <div class="logBlock user <%='avat'+userlist[i].avatar%>" ></div>
            <%=userlist[i].nom%>
        </a>
    <% }} %>
</div>

<div id="newContainer">
    <div class="subBlock">
        nouvel utilisateur
    </div>
    <form id="subForm" action="/subscribe" method="post" hidden>
        <input type="text" name="name" id="name" placeholder="nom">
        <input type="text" name="pass" id="pass" placeholder="password">
        <input type="text" name="pass2" id="pass2" placeholder="confirmer password">
        <input type="submit" class="subregist" value="+">
    </form>
</div>


<script src="/js/index.js" defer></script>