<link rel="stylesheet" href="/styles/style01.css">

<h1><a href="/" title="home">Budge$t</a></h1>

<h2> <%=user%> </h2>


<div id="logForm">
    <% if (err===1) { %>
    <div class="error">
        Mot de passe érroné
    </div>
    <% } %>
    <form method="post" action=<%="/profil/"+user %>>
        <input type="password" name="password" placeholder="password?" autofocus>
        <input type="submit" value="connexion">
    </form>
</div>