<% include header.ejs %>


<h2> <%=user%> </h2>


<div id="logForm" class="formContainer">
    <form method="post" action="/profil/<%=user%>" class="budForm">
        <% if (err===1) { %>
        <div class="error">Mot de passe érroné</div>
        <% } %>
        <input type="password" name="password" placeholder="password?" class="formFinal" autofocus>
        <input type="submit" value="connexion" class="formBtn">
    </form>
</div>