<div id="logForm">
    <h2> <%=user%> </h2>
    <form method="post" action=<%="/profil/"+user %>>
        <input type="text" name="password" placeholder="password?">
        <input type="submit" value="connexion">
    </form>
</div>