<link rel="stylesheet" href="styles/style01.css">
<script src="js/general.js"></script>

<h1> <%= user %> </h1>

<p>bienvenue sur votre interface de gestion</p>

<button type="button" id="entreeBtn">
    +
    <span>nouvelle rentrée d'argent</span>
</button>

<button type="button" id="depenseBtn">
    -
    <span>nouvelle dépense</span>    
</button>

<button type="button" id="depenseBtn">
    €
    <span>mes budgets</span>    
</button>