th{
    height: 36px;
    background: #B49C7E;
    text-align: left;
    padding: 12px;
}

td {
    padding: 4px;
    border-collapse: collapse;
    position: relative; 
}

table {
    margin-top: 24px;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #E1D3C1;
}
tr:nth-child(odd) {
    background-color: #CABDAD;
}

.suprBtn {
    display: none;
    position: absolute;
    height: 24px;
    width: 24px;
    color: #ce2b37;
    font-size: 20px;
    font-weight: bold;
    top: 3px;
    right: 4px;
    border-radius: 3px;
    background: #B49C7E;
    line-height: 22px;
    text-align: center;
    opacity: 0.5;
}

.suprBtn:hover {
    opacity: 1;
    cursor: pointer;
}

td:hover .suprBtn {
    display: block;
}