th{
    height: 36px;
    background: #B49C7E;
    text-align: left;
    padding: 12px;
}

td {
    padding: 4px;
    border-collapse: collapse;    
}

table {
    margin-top: 24px;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #E1D3C1;
}
tr:nth-child(odd) {
    background-color: #CABDAD;
}